
.login{
    padding: 0px;
}

.login ul{
    margin: 0;
    padding: 0;
}


.login ul li a {
    display: block;
    padding: 0px 0px;
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 0px;
}

.login ul li .an {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 10px;
    border-radius: 0px;
    text-align: center;
}

.login ul li .anS {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 10px;
    border-radius: 0px;
    text-align: center;
    border-top: 1px solid #ccc;
}
.login ul li .ani {
    display: block;
    text-decoration: none;
    color: #000;
    padding: 10px;
    border-radius: 0px;
    text-align: center;
}

.login ul li .ani:hover
{
    background: #fff;
}

.login ul li a:hover {
    background: #DADCDE;
    color: #000;
    text-decoration: none;
}

.login ul li ul {
    display: block;
    background: rgba(255,255,255,0.5);
    min-width: 150px;
    position: absolute;
    margin-top: 9px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    transition: .5s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
}

.login ul li:hover ul {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.login ul li ul li a {
    background: #fff;
    padding: 10px;
}

.login ul li {
    list-style: none;
}

.login button{
    text-align: center;
    padding: 10px;
}

.login button:hover {
    background: #DADCDE;
    color: #000;
    text-decoration: none;
}

section{
    width: 100%;
    height: 100vh;
    background: url(lunaM.jpg);
    background-size: cover;
}